.menu{
    width: 100vw;
    height: 10vh;
    background-color: rgb(255, 214, 214);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left:0;
}
.filter{
    width: 350px;
    height: 450px;
    border:1px solid black;
    position: fixed;
    top:18vh;
    left: 35px;
}
.tovari{
    min-height: 400vh;
    width: 70vw;
    background-color: rgba(188, 221, 249, 0.183);
    float: right;
    margin-right: 30px;
    margin-top: 8vh;
}
.menu_img:hover{
    transform: scale(2.1,2.1);
}
.menu_img{
    transform: scale(2,2);
}

.profile{
    width: 60%;
    margin: 15vh auto;
    background-color: aquamarine;
    padding: 20px;
}
.profile_info{
    border: 0;
    background-color: rgb(107, 214, 178);
}
.profile_info:focus{
    border: 0;
    box-shadow: 0;
}
.pencil:hover{
    cursor: pointer;
    transform: scale(1.5);
    fill: green;
}
.card {
    margin: 50px;
    position: relative;
    width: 350px;
    height: 240px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff8f;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  .img{
   
    width: 68%;
  }
.price{
  font-family: cursive;
  font-weight: bolder;
}